/**
 * Created by TaoLe
 * Email : hopthucualetao@gmail.com
 */
.page-quanly-setting .node-country-form .field-name-field-country thead{display: none}
.page-quanly-setting .node-country-form .field-name-field-country tbody td{position: relative}
.page-quanly-setting .node-country-form .field-name-field-country tbody td input.form-submit{position: absolute;right: 0;bottom: -5px}
.page-quanly-setting .node-country-form .field-name-field-country .required-fields { display: table;width: 700px}
.page-quanly-setting .node-country-form .field-name-field-country .required-fields h3{display: none;}
.page-quanly-setting .node-country-form .field-name-field-country .required-fields .form-wrapper{ display: table-cell;}
.page-quanly-setting .node-country-form .field-name-field-country .required-fields .form-wrapper input{width: 95%}
.page-quanly-setting .node-country-form .field-name-field-country .required-fields .form-wrapper label{display: none}
.page-quanly-setting .node-country-form .field-name-field-country .field-multiple-table .draggable:first-child .required-fields .form-wrapper label{display: block;text-indent: 5px;}

.node-hocvien-form .form-wrapper .field-type-datestamp legend,
.node-hocvien-form .form-wrapper .field-type-datestamp fieldset,
.node-hocvien-form .form-wrapper .field-type-datestamp fieldset .fieldset-wrapper{ background: none; border: none;padding: 0; margin: 0}
.node-hocvien-form .form-wrapper .field-type-datestamp legend{ font-weight: bold;font-size: 0.929em;font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;text-shadow: none;}
.node-hocvien-form .form-wrapper .field-type-datestamp .date-padding label{ display: none}

.field-name-field-student-contract tbody tr,
.field-name-field-student-pathway fieldset,
.node-hocvien-form .field-name-field-student-basic fieldset{background: #e4e4e4}
.field-name-field-student-pathway fieldset legend,
.node-hocvien-form .field-name-field-student-basic fieldset legend{background: #757575;}
.field-name-field-student-pathway fieldset legend span.fieldset-legend,
.node-hocvien-form .field-name-field-student-basic fieldset legend  span.fieldset-legend{color: #fff; font-size: 11px}

.field-name-field-student-pathway fieldset .fieldset-wrapper legend span.fieldset-legend,
.node-hocvien-form .field-name-field-student-basic fieldset .fieldset-wrapper legend span.fieldset-legend{color: inherit; font-size: inherit}

/*PERSONAL INFORMATION*/
.node-hocvien-form .field-name-field-student-basic .field-name-field-image{ display: inline-block; width: 30%; min-width: 200px; vertical-align: top;}
.node-hocvien-form .field-name-field-student-basic .field-name-field-image label,
.node-hocvien-form .field-name-field-student-basic .field-name-field-image .image-widget-data .file-size,
.node-hocvien-form .field-name-field-student-basic .field-name-field-image .image-widget-data .file {display: none}
.node-hocvien-form .field-name-field-student-basic .field-name-field-image .image-widget{text-align: center}
.node-hocvien-form .field-name-field-student-basic .field-name-field-image div.image-widget-data,
.node-hocvien-form .field-name-field-student-basic .field-name-field-image div.image-preview{float: none; display: block; margin:0 auto}
.node-hocvien-form .field-name-field-student-basic .field-name-field-image div.image-preview{margin-top: 20px}
.node-hocvien-form .field-name-field-student-basic .personal_information{display: inline-block; width: 70%; min-width: 300px;}
.node-hocvien-form .field-name-field-student-basic .personal_information .form-item{ display: table}
.node-hocvien-form .field-name-field-student-basic .personal_information .field-type-text .form-type-textfield label,
.node-hocvien-form .field-name-field-student-basic .personal_information .field-type-number-integer label,
.node-hocvien-form .field-name-field-student-basic .personal_information .form-item input{display: table-cell; min-width: 100px}
.node-hocvien-form .field-name-field-student-basic .personal_information .field-name-field-student-full-name .form-item{ margin: 0}

.node-hocvien-form .field-name-field-student-basic .fieldset-wrapper fieldset,
.node-hocvien-form .field-name-field-student-basic .fieldset-wrapper fieldset legend,
.node-hocvien-form .field-name-field-student-basic .fieldset-wrapper fieldset legend span{ background: #e4e4e4; border: none}
html.js fieldset.collapsible .fieldset-legend{padding-left: 0; background: none}

.node-hocvien-form .field-name-field-student-basic .personal_information .field-type-datestamp{ margin-bottom: 17px}
.node-hocvien-form .field-name-field-student-basic .personal_information .field-type-datestamp fieldset.form-wrapper{ display: table;background: #e4e4e4}
.node-hocvien-form .field-name-field-student-basic .personal_information .field-type-datestamp fieldset.form-wrapper legend{position: initial; width: auto; float: left; text-indent: 0; line-height: 1.8;display: table-cell; margin-right: 5px;margin-top: 5px;width: 95px;}
.node-hocvien-form .field-name-field-student-basic .personal_information .field-type-datestamp fieldset.form-wrapper .fieldset-wrapper{ display: table-cell}
.node-hocvien-form .field-name-field-student-basic .personal_information .field-type-datestamp fieldset.form-wrapper .fieldset-wrapper .date-padding{ padding: 0}
.node-hocvien-form .field-name-field-student-basic .personal_information .field-type-datestamp fieldset.form-wrapper .fieldset-wrapper .date-padding .description{display: none}
.node-hocvien-form .field-name-field-student-basic .personal_information .field-type-datestamp fieldset.form-wrapper .fieldset-wrapper .date-padding input,
.node-hocvien-form .field-name-field-student-basic .personal_information .field-name-field-student-phone input{width: 380px}

.node-hocvien-form .field-name-field-student-basic .education_background .fieldset-wrapper{ display: table}
.node-hocvien-form .field-name-field-student-basic .education_background .fieldset-wrapper .form-wrapper{ display: table-cell;}
.node-hocvien-form .field-name-field-student-basic .education_background .fieldset-wrapper .form-wrapper input,
.node-hocvien-form .field-name-field-student-basic .education_background .fieldset-wrapper .field-name-field-english-level select{ width: 120px}
.node-hocvien-form .field-name-field-student-basic .education_background .fieldset-wrapper .field-name-field-current-school input{width: 400px}
.node-hocvien-form .field-name-field-student-basic .education_background .fieldset-wrapper .field-name-field-english-level .description{display: none}
.node-hocvien-form .field-name-field-student-basic .education_background .fieldset-wrapper .field-name-field-english-level select{padding-top: 2px;padding-bottom:3px }

.node-hocvien-form .field-name-field-student-basic .student_intested .fieldset-wrapper,
.node-hocvien-form .field-name-field-student-basic .marketing_resource .fieldset-wrapper,
.node-hocvien-form .field-name-field-student-basic .student_intested .fieldset-wrapper .form-wrapper .form-item,
.node-hocvien-form .field-name-field-student-basic .marketing_resource .fieldset-wrapper .form-wrapper .form-item{ display: table}
.node-hocvien-form .field-name-field-student-basic .student_intested .fieldset-wrapper .form-wrapper,
.node-hocvien-form .field-name-field-student-basic .student_intested .fieldset-wrapper .form-wrapper .form-item select,
.node-hocvien-form .field-name-field-student-basic .student_intested .fieldset-wrapper .form-wrapper .form-item label{ display: table-cell; width: 50%;padding-right: 45px}
.node-hocvien-form .field-name-field-student-basic .student_intested .fieldset-wrapper .form-wrapper .form-item select{ width: 160px}


.node-hocvien-form .field-name-field-student-basic .marketing_resource .fieldset-wrapper .form-wrapper,
.node-hocvien-form .field-name-field-student-basic .marketing_resource .fieldset-wrapper .form-wrapper .form-item select,
.node-hocvien-form .field-name-field-student-basic .marketing_resource .fieldset-wrapper .form-wrapper .form-item label{ display: table-cell; padding-right: 45px}

/*VISA*/
.node-hocvien-form .field-name-field-student-visa .field-name-field-visa-status,
.node-hocvien-form .field-name-field-student-visa .field-name-field-visa-date-submit,
.node-hocvien-form .field-name-field-student-visa .field-name-field-visa-note{ float: left; width: 33.333%; display: block}
.node-hocvien-form .field-multiple-table tbody tr td .form-submit{ display: block; clear: both; content: "";}
.node-hocvien-form .field-name-field-student-visa .field-name-field-visa-status .form-type-select select { width: 100%}

.node-hocvien-form .field-name-field-student-visa .field-name-field-visa-date-submit .form-wrapper legend{ line-height: 1.5; text-indent: 0}
.node-hocvien-form .field-name-field-student-visa .field-name-field-visa-date-submit .form-wrapper .fieldset-wrapper .date-padding{padding: 6px 0 0 0;}
.node-hocvien-form .field-name-field-student-visa .field-name-field-visa-date-submit .form-wrapper .fieldset-wrapper .date-padding .form-item input {width: 282px; margin: 0 -1px;font-size: 13px;padding-top: 5px; padding-bottom: 6px;}
.node-hocvien-form .field-name-field-student-visa .field-name-field-visa-date-submit .form-wrapper .fieldset-wrapper .date-padding .description{display: none}

.node-hocvien-form .field-name-field-student-visa .field-name-field-visa-note input.form-text {width: 281px;padding-top: 5px;font-size: 13px; padding-bottom: 6px;margin-left: -1px}
/* STUDY PATHWAY*/
.field-name-field-student-pathway .pathway_group{display: table}
.field-name-field-student-pathway .pathway_group .form-wrapper{ display: table-cell; padding-right: 9px}
.field-name-field-student-pathway .pathway_group .form-wrapper:last-child{padding-right: 0}
.field-name-field-student-pathway .pathway_group .form-wrapper label{display: inline-block}
.field-name-field-student-pathway .pathway_group .form-wrapper select,
.field-name-field-student-pathway .pathway_group .form-wrapper input{ font-size: 12px; margin: 0;padding: 2px 4px;}
.field-name-field-student-pathway .pathway_group .form-wrapper input{padding: 3px 4px;}
.field-name-field-student-pathway .pathway_group .form-wrapper .description{display: none}
.field-name-field-student-pathway .pathway_group_1 .form-wrapper select{width: 120px; margin-left: 10px}
.field-name-field-student-pathway .pathway_group_1 .field-name-field-stpw-course-name select{ width: 180px}
.field-name-field-student-pathway .pathway_group_2,
.field-name-field-student-pathway .pathway_group_3 ,
.field-name-field-student-pathway .pathway_group_4{margin-bottom: 25px}
.field-name-field-student-pathway .pathway_group_3 .form-item input,
.field-name-field-student-pathway .pathway_group_4 .form-item input{ width: 100px}

.field-name-field-student-pathway .pathway_group_2 fieldset.form-wrapper{ display: table}
.field-name-field-student-pathway .pathway_group_2 fieldset.form-wrapper legend{position: initial; width: auto; float: left; text-indent: 0; line-height: 1.8;display: table-cell; margin-right: 5px;}
.field-name-field-student-pathway .pathway_group_2 fieldset.form-wrapper .fieldset-wrapper{ display: table-cell}
.field-name-field-student-pathway .pathway_group_2 fieldset.form-wrapper .fieldset-wrapper .date-padding{ padding: 0}

.field-name-field-student-pathway .pathway_group_3 .form-item label{max-width:75px}
.field-name-field-student-pathway .pathway_group_4 .form-item label{max-width:140px}
.field-name-field-student-pathway .pathway_group_4 h3{position: absolute;top: 0; left: 0; margin-top: 0 ;font-size: 18px}
.field-name-field-student-pathway .pathway_group_4{position: relative;padding-top: 45px;}

.field-name-field-student-pathway .field-group-multiple-container .multiple-inline-element{ background: #e4e4e4; border: none; display: table}
.field-name-field-student-pathway .field-group-multiple-container .multiple-inline-element .multiple-element { display: table-cell; float: none}
.field-name-field-student-pathway .field-group-multiple-container .multiple-inline-element .multiple-element .form-item { width: 250px;}

.field-name-field-student-pathway .field-group-multiple-container .multiple-inline-element .form-item label,
.field-name-field-student-pathway .field-group-multiple-container .multiple-inline-element .form-item input{ display: inline-block}
.field-name-field-student-pathway .field-group-multiple-container .multiple-inline-element .form-item label {max-width: 135px}
.field-name-field-student-pathway .field-group-multiple-container .multiple-inline-element .form-item input{width: 100px}

.field-name-field-student-pathway .field-group-multiple-container .multiple-inline-element .multiple-field-com-received-usa .form-item,
.field-name-field-student-pathway .field-group-multiple-container .multiple-inline-element .multiple-field-com-received-date .form-item{width: 215px}
.field-name-field-student-pathway .field-group-multiple-container .multiple-inline-element .multiple-field-com-received-usa .form-item label{max-width: 100px}


.field-name-field-student-pathway .field-group-multiple-container .multiple-inline-element .multiple-field-com-received-date .form-item label{max-width: 100px}
#fgm_field_collection_item_field_student_pathway_form_group_received-add-more-wrapper{ position: relative}
#fgm_field_collection_item_field_student_pathway_form_group_received-add-more-wrapper .field-group-multiple-add-more-submit{position: absolute; bottom: 5px; right: 0}

.field-name-field-student-pathway .field-name-field-com-pending .form-item{ display: table}
.field-name-field-student-pathway .field-name-field-com-pending .form-item label,
.field-name-field-student-pathway .field-name-field-com-pending .form-item input{ display: table-cell; max-width: 145px}
.field-name-field-student-pathway .field-name-field-com-pending .form-item input{ max-width: 100px}
/*CONTRACT*/
.field-name-field-student-contract tbody .field-multiple-drag{display: none}
.field-name-field-student-contract .form-wrapper,
.field-name-field-student-contract .field-multiple-table .party_b_info .b_groupt_2{margin: 10px 0}
.field-name-field-student-contract .field-multiple-table .contract-header,
.field-name-field-student-contract .field-multiple-table .contract-header .field-type-text .form-item,
.field-name-field-student-contract .field-multiple-table .contract-header .form-wrapper .fieldset-wrapper{ display: table}
.field-name-field-student-contract .field-multiple-table .contract-header .form-wrapper,
.field-name-field-student-contract .field-multiple-table .contract-header .field-type-text .form-item input,
.field-name-field-student-contract .field-multiple-table .contract-header .field-type-text .form-item label,
.field-name-field-student-contract .field-multiple-table .contract-header .form-wrapper legend,
.field-name-field-student-contract .field-multiple-table .contract-header .form-wrapper .fieldset-wrapper{display: table-cell;padding-right:15px}
.field-name-field-student-contract .field-multiple-table .contract-header .field-type-text .form-item input{width: 150px; margin: 0}
.field-name-field-student-contract .field-multiple-table .contract-header .form-wrapper legend{position: initial; width: auto; float: left; text-indent: 0;display: table-cell; margin-right: 5px;}

.field-name-field-student-contract .field-multiple-table .contract-header .form-wrapper .date-padding{ padding: 0}
.field-name-field-student-contract .field-multiple-table .contract-header .field-type-datestamp{ vertical-align: top}
.field-name-field-student-contract .field-multiple-table .contract-header .field-type-datestamp fieldset{top:0}
.field-name-field-student-contract .field-multiple-table .contract-header .field-type-datestamp .description{display: none}
.field-name-field-student-contract .field-multiple-table .contract-header .form-wrapper .form-item input{margin: 0}

.field-name-field-student-contract .field-multiple-table .party_b_info{margin-left: 75px;}
.field-name-field-student-contract .field-multiple-table .party_b_info h3{margin-left: -75px; margin-top: 0}
.field-name-field-student-contract .field-multiple-table .party_b_info .form-item input,
.field-name-field-student-contract .field-multiple-table .party_b_info .form-item label,
.field-name-field-student-contract .field-multiple-table .party_b_info .b_groupt .form-wrapper{display: table-cell;}
.field-name-field-student-contract .field-multiple-table .party_b_info .b_groupt,
.field-name-field-student-contract .field-multiple-table .party_b_info .form-item{display: table}
.field-name-field-student-contract .field-multiple-table .party_b_info .form-item input{ margin-right: 15px}
.field-name-field-student-contract .field-multiple-table .party_b_info .form-item label{width: 90px}
.field-name-field-student-contract .field-multiple-table .party_b_info .b_groupt_2 .form-item input{width: 250px; margin-right: 15px}


.field-name-field-student-contract .field-multiple-table .group-student-info{margin-left: 75px;}
.field-name-field-student-contract .field-multiple-table .group-student-info h3{margin-left: -75px; margin-top: 0}
.field-name-field-student-contract .field-multiple-table .group-student-info .form-item{display: table}
.field-name-field-student-contract .field-multiple-table .group-student-info .form-item input,
.field-name-field-student-contract .field-multiple-table .group-student-info .form-item label{display: table-cell;}
.field-name-field-student-contract .field-multiple-table .group-student-info .form-item input{width: 300px; margin-right: 15px}
.field-name-field-student-contract .field-multiple-table .group-student-info .form-item label{width: 90px}
.field-name-field-student-contract .field-multiple-table .group-student-info .group-student-info-g2 .form-item label{width: 200px}

.field-name-field-student-contract .field-multiple-table .group-student-info .form-wrapper legend,
.field-name-field-student-contract .field-multiple-table .group-student-info .form-wrapper .fieldset-wrapper{display: table-cell;margin-right:0}
.field-name-field-student-contract .group-student-info .form-wrapper legend{position: initial; width: auto; float: left; text-indent: 0;display: table-cell; margin-right: 5px;}
.field-name-field-student-contract .group-student-info .field-type-datestamp .description,
.field-name-field-student-contract .group-student-info .field-type-datestamp .form-item label{display: none}
.field-name-field-student-contract .group-student-info .form-wrapper legend{width: 90px}
.field-name-field-student-contract .group-student-info .form-wrapper .date-padding{ padding: 0}
.field-name-field-student-contract .group-student-info .field-type-datestamp{ vertical-align: top;}
.field-name-field-student-contract .group-student-info .field-type-datestamp fieldset{top:0}

.field-name-field-student-contract .group-student-info .field-name-field-relationship-with-party-b select{width: 310px; padding-top: 1px; padding-bottom: 2px}
.field-name-field-student-contract .group-student-info .group-student-info-g2 .field-name-field-intake legend{width: 200px}


.field-name-field-student-contract .field-multiple-table .group-contract-info{margin-left: 75px;}
.field-name-field-student-contract .field-multiple-table .group-contract-info h3{margin-left: -75px; margin-top: 0}
.field-name-field-student-contract .field-multiple-table .group-contract-info .form-item{display: table}
.field-name-field-student-contract .field-multiple-table .group-contract-info .form-item input,
.field-name-field-student-contract .field-multiple-table .group-contract-info .form-item label{display: table-cell;}
.field-name-field-student-contract .field-multiple-table .group-contract-info .form-item input{width: 300px; margin-right: 15px}
.field-name-field-student-contract .field-multiple-table .group-contract-info .group-student-info-g2 .form-item label{width: 200px}

.field-name-field-student-contract .field-multiple-table .group-contract-info .group-contract-info-1,
.field-name-field-student-contract .field-multiple-table .group-contract-info .group-contract-info-2{display: table ;position: relative; margin: 10px 0}
.field-name-field-student-contract .field-multiple-table .group-contract-info .group-contract-info-2 {margin-top: 10px; margin-bottom: 40px}
.field-name-field-student-contract .field-multiple-table .group-contract-info .group-contract-info-1 .field-type-list-text,
.field-name-field-student-contract .field-multiple-table .group-contract-info .group-contract-info-2 .field-type-text{display: table-cell}
.field-name-field-student-contract .field-multiple-table .group-contract-info .group-contract-info-1 .form-item label{width:150px; text-align: center}
.field-name-field-student-contract .field-multiple-table .group-contract-info .group-contract-info-2 .form-item label{width: 100px; text-align: center}
.field-name-field-student-contract .field-multiple-table .group-contract-info .group-contract-info-1 select{width: 200px;padding-top: 1px; padding-bottom: 2px}
.field-name-field-student-contract .field-multiple-table .group-contract-info .group-contract-info-2 input{width: 100px}
.field-name-field-student-contract .field-multiple-table .group-contract-info .group-contract-info-2 .field-name-field-cancelation-date{position: absolute;bottom: -55px; right: 0;}
.field-name-field-student-contract input,
.field-name-field-student-contract label{ font-size: 13px}




