/**
 * Created by TaoLe
 * Email : hopthucualetao@gmail.com
 */
input { margin: 2px 0; padding: 4px;}
input,
textarea {font-size: 0.929em;}
textarea {line-height: 1.5;}
textarea.form-textarea,
select.form-select {  padding: 4px;}
input.form-text,
textarea.form-textarea,
select.form-select { border: 1px solid #ccc;}
label { display: block; font-weight: normal;}
#container { margin: 0 auto;padding: 0 20px; width: 1004px;}
*{
    font-family: "Roboto Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
/*--- FONT-FACE ---*/
@font-face {
    font-family: 'Roboto Condensed';
    src: url('../fonts/RobotoCondensedRegular_0.eot');
    src: url('../fonts/RobotoCondensedRegular_0.eot') format('embedded-opentype'),
         url('../fonts/RobotoCondensedRegular_0.woff2') format('woff2'),
         url('../fonts/RobotoCondensedRegular_0.woff') format('woff'),
         url('../fonts/RobotoCondensedRegular_0.ttf') format('truetype'),
         url('../fonts/RobotoCondensedRegular_0.svg#RobotoCondensedRegular_0') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto Condensed';
    src: url('../fonts/RobotoCondensedItalic_0.eot');
    src: url('../fonts/RobotoCondensedItalic_0.eot') format('embedded-opentype'),
         url('../fonts/RobotoCondensedItalic_0.woff2') format('woff2'),
         url('../fonts/RobotoCondensedItalic_0.woff') format('woff'),
         url('../fonts/RobotoCondensedItalic_0.ttf') format('truetype'),
         url('../fonts/RobotoCondensedItalic_0.svg#RobotoCondensedItalic_0') format('svg');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto Condensed';
    src: url('../fonts/RobotoCondensedBoldItalic_0.eot');
    src: url('../fonts/RobotoCondensedBoldItalic_0.eot') format('embedded-opentype'),
         url('../fonts/RobotoCondensedBoldItalic_0.woff2') format('woff2'),
         url('../fonts/RobotoCondensedBoldItalic_0.woff') format('woff'),
         url('../fonts/RobotoCondensedBoldItalic_0.ttf') format('truetype'),
         url('../fonts/RobotoCondensedBoldItalic_0.svg#RobotoCondensedBoldItalic_0') format('svg');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto Condensed';
    src: url('../fonts/RobotoCondensedBold_0.eot');
    src: url('../fonts/RobotoCondensedBold_0.eot') format('embedded-opentype'),
         url('../fonts/RobotoCondensedBold_0.woff2') format('woff2'),
         url('../fonts/RobotoCondensedBold_0.woff') format('woff'),
         url('../fonts/RobotoCondensedBold_0.ttf') format('truetype'),
         url('../fonts/RobotoCondensedBold_0.svg#RobotoCondensedBold_0') format('svg');
    font-weight: bold;
    font-style: normal;
}

/*--- E: FONT-FACE ---*/



/*SETTING*/
.page-quanly .vertical-tabs.clearfix{display: none}
.page-quanly .form-actions input{margin-right: 15px}
.page-quanly-setting .node-country-form .field-name-field-country thead,
.page-quanly-setting .node-course-form .field-name-field-course thead{display: none}
.page-quanly-setting .node-country-form .field-name-field-country tbody td,
.page-quanly-setting .node-course-form .field-name-field-course tbody td{position: relative}
.page-quanly-setting .node-country-form .field-name-field-country tbody td input.form-submit,
.page-quanly-setting .node-course-form .field-name-field-course tbody td input.form-submit{position: absolute;right: 2px;bottom: 0}
.page-quanly-setting .node-country-form .field-name-field-country .required-fields ,
.page-quanly-setting .node-course-form .field-name-field-course .required-fields{ display: table;width: 700px}
.page-quanly-setting .node-country-form .field-name-field-country .required-fields h3,
.page-quanly-setting .node-course-form .field-name-field-course .required-fields h3{display: none;}
.page-quanly-setting .node-country-form .field-name-field-country .required-fields .form-wrapper,
.page-quanly-setting .node-course-form .field-name-field-course .required-fields .form-wrapper{ display: table-cell;}
.page-quanly-setting .node-country-form .field-name-field-country .required-fields .form-wrapper input{border-right: none;text-align: center;width: 100%;padding: 4px 0}
.page-quanly-setting .node-country-form .field-name-field-country .required-fields .form-wrapper label,
.page-quanly-setting .node-course-form .field-name-field-course .required-fields .form-wrapper label{display: none}
.page-quanly-setting .node-country-form .field-name-field-country .field-multiple-table .draggable:first-child .required-fields .form-wrapper label,
.page-quanly-setting .node-course-form .field-name-field-course .field-multiple-table .draggable:first-child .required-fields .form-wrapper label{display: block;text-indent: 5px;}

.page-quanly-setting .node-course-form .field-name-field-course .required-fields .form-wrapper input{border-right: none;text-align: center}
.page-quanly-setting .node-course-form .field-name-field-course .required-fields .form-wrapper label,
.page-quanly-setting .node-country-form .field-name-field-country .required-fields .form-wrapper label{text-align: center}
.page-quanly-setting .node-country-form .field-name-field-country .required-fields .form-wrapper:last-child input,
.page-quanly-setting .node-course-form .field-name-field-course .required-fields .form-wrapper:last-child input {border-right: 1px solid #ccc}




/*PERSONAL INFORMATION*/
.node-hocvien-form .field-name-field-student-contract {position: relative}
.node-hocvien-form .form-wrapper .field-type-datestamp legend,
.node-hocvien-form .form-wrapper .field-type-datestamp fieldset,
.node-hocvien-form .form-wrapper .field-type-datestamp fieldset .fieldset-wrapper{ background: none; border: none;padding: 0; margin: 0}
.node-hocvien-form .form-wrapper .field-type-datestamp .date-padding label{ display: none}
.node-hocvien-form .field-name-field-student-basic .field-name-field-image{ display: inline-block; width: 170px; vertical-align: top;margin-left: 15px;}
.node-hocvien-form .field-name-field-student-basic .field-name-field-image .form-type-managed-file{margin-bottom: 0;margin-top: 0;}
.node-hocvien-form .field-name-field-student-basic .field-name-field-image label,
.node-hocvien-form .field-name-field-student-basic .field-name-field-image .image-widget-data .file-size,
.node-hocvien-form .field-name-field-student-basic .field-name-field-image .image-widget-data .file {display: none}
.node-hocvien-form .field-name-field-student-basic .field-name-field-image .image-widget{text-align: center}
.node-hocvien-form .field-name-field-student-basic .field-name-field-image div.image-widget-data,
.node-hocvien-form .field-name-field-student-basic .field-name-field-image div.image-preview{float: none; display: block; margin:0 auto;}
.node-hocvien-form .field-name-field-student-basic .field-name-field-image div.image-preview{background-color: #979696;height: 170px;line-height: 170px;padding: 0;margin-bottom: 15px;}
.node-hocvien-form .field-name-field-student-basic .field-name-field-image div.image-preview img{max-height: 170px;vertical-align: middle}
.node-hocvien-form .field-name-field-student-basic .personal_information{display: inline-block;margin-left: 54px}
.node-hocvien-form .field-name-field-student-basic .personal_information .form-item{ display: table;margin-bottom: 0}
.node-hocvien-form .field-name-field-student-basic .personal_information .field-type-text .form-type-textfield label,
.node-hocvien-form .field-name-field-student-basic .personal_information .field-type-number-integer label,
.node-hocvien-form .field-name-field-student-basic .personal_information .form-item input{display: table-cell; min-width: 103px}
.node-hocvien-form .field-name-field-student-basic .personal_information .field-name-field-student-full-name .form-item{ margin: 0}


.node-hocvien-form .field-name-field-student-basic .fieldset-wrapper fieldset,
.node-hocvien-form .field-name-field-student-basic .fieldset-wrapper fieldset legend,
.node-hocvien-form .field-name-field-student-basic .fieldset-wrapper fieldset legend span{ background: #fff; border: none;padding-top: 0;margin: 0; padding-bottom: 0;}
html.js fieldset.collapsible .fieldset-legend{padding-left: 0; background: none}

//.node-hocvien-form .field-name-field-student-basic .personal_information .field-type-datestamp{ margin-top: 17px}
.node-hocvien-form .field-name-field-student-basic .personal_information .field-type-datestamp fieldset.form-wrapper{ display: table}
.node-hocvien-form .field-name-field-student-basic .personal_information .field-type-datestamp fieldset.form-wrapper legend{position: initial; width: auto; float: left; text-indent: 0; line-height: 1.8;display: table-cell; margin-right: 5px;margin-top: 5px;}
.node-hocvien-form .field-name-field-student-basic .personal_information .field-type-datestamp fieldset.form-wrapper .fieldset-wrapper{ display: table-cell}
.node-hocvien-form .field-name-field-student-basic .personal_information .field-type-datestamp fieldset.form-wrapper .fieldset-wrapper .date-padding{ padding: 0}
.node-hocvien-form .field-name-field-student-basic .personal_information .field-type-datestamp fieldset.form-wrapper .fieldset-wrapper .date-padding .description{display: none}
.node-hocvien-form .field-name-field-student-basic .personal_information .field-type-datestamp fieldset.form-wrapper .fieldset-wrapper .date-padding input,
.node-hocvien-form .field-name-field-student-basic .personal_information .field-name-field-student-phone input{width: 453px}

.node-hocvien-form .field-name-field-student-basic .fieldset-wrapper fieldset{margin-top: 18px}
.node-hocvien-form .field-name-field-student-basic .education_background .fieldset-wrapper{ display: table}
.node-hocvien-form .field-name-field-student-basic .education_background .fieldset-wrapper label{border: 1px solid #ccc;border-bottom: 0;text-align: center;border-right: none;}
.node-hocvien-form .field-name-field-student-basic .education_background .fieldset-wrapper .form-wrapper{ display: table-cell;}
.node-hocvien-form .field-name-field-student-basic .education_background .fieldset-wrapper .form-wrapper input{ width: 165px;border-right: none; margin:0; text-align: center}
.node-hocvien-form .field-name-field-student-basic .education_background .fieldset-wrapper .field-name-field-english-level select{ width: 145px;border-right: none; margin:0; text-align: center}
.node-hocvien-form .field-name-field-student-basic .education_background .fieldset-wrapper .field-name-field-current-school input{width: 327px}
.node-hocvien-form .field-name-field-student-basic .education_background .fieldset-wrapper .field-name-field-english-level .description{display: none}
.node-hocvien-form .field-name-field-student-basic .education_background .fieldset-wrapper .field-name-field-english-level select{padding-bottom:3px;border-right:1px solid #ccc }
.node-hocvien-form .field-name-field-student-basic .education_background .fieldset-wrapper .field-name-field-english-level label{border-right:1px solid #ccc }

.node-hocvien-form .field-name-field-student-basic .student_intested .fieldset-wrapper{padding: 0 15px;}
.node-hocvien-form .field-name-field-student-basic .student_intested .fieldset-wrapper .form-wrapper .form-item, .node-hocvien-form .field-name-field-student-basic .student_intested .fieldset-wrapper .form-wrapper .form-actions{margin-top:0;margin-bottom: 0;}
.node-hocvien-form .field-name-field-student-basic .student_intested .fieldset-wrapper,
.node-hocvien-form .field-name-field-student-basic .marketing_resource .fieldset-wrapper,
.node-hocvien-form .field-name-field-student-basic .student_intested .fieldset-wrapper .form-wrapper .form-item,
.node-hocvien-form .field-name-field-student-basic .marketing_resource .fieldset-wrapper .form-wrapper .form-item{ display: table}
.node-hocvien-form .field-name-field-student-basic .student_intested .fieldset-wrapper .form-wrapper{width: 367px;}
.node-hocvien-form .field-name-field-student-basic .student_intested .fieldset-wrapper .form-wrapper,
.node-hocvien-form .field-name-field-student-basic .student_intested .fieldset-wrapper .form-wrapper .form-item select,
.node-hocvien-form .field-name-field-student-basic .student_intested .fieldset-wrapper .form-wrapper .form-item label{ display: table-cell;padding-right: 45px;text-transform: uppercase;}
.node-hocvien-form .field-name-field-student-basic .student_intested .fieldset-wrapper .form-wrapper .form-item select{ width: 140px;padding-right: 3px;}
.node-hocvien-form .field-name-field-student-basic .student_intested .fieldset-wrapper .form-wrapper.field-name-field-st-country .form-item label{min-width: 190px;}

.node-hocvien-form .field-name-field-student-basic .marketing_resource .fieldset-wrapper{padding: 0 15px;}
.node-hocvien-form .field-name-field-student-basic .marketing_resource .fieldset-wrapper .form-wrapper .form-item, .node-hocvien-form .field-name-field-student-basic .marketing_resource .fieldset-wrapper .form-wrapper .form-actions{margin-bottom: 0;margin-top: 0;}
.node-hocvien-form .field-name-field-student-basic .marketing_resource .fieldset-wrapper .form-wrapper,
.node-hocvien-form .field-name-field-student-basic .marketing_resource .fieldset-wrapper .form-wrapper .form-item select,
.node-hocvien-form .field-name-field-student-basic .marketing_resource .fieldset-wrapper .form-wrapper .form-item label{ display: table-cell; padding-right: 45px;text-transform: uppercase;}
.node-hocvien-form .field-name-field-student-basic .marketing_resource .fieldset-wrapper .form-wrapper.field-name-field-marketing-channels .form-item label{min-width: 190px;}
.node-hocvien-form .field-name-field-student-basic .marketing_resource .fieldset-wrapper .form-wrapper.field-name-field-marketing-channels .form-item select{width: 140px;}
.node-hocvien-form .field-name-field-student-basic .marketing_resource .field-name-field-ila-study{width: 367px;}
.node-hocvien-form .field-name-field-student-basic .marketing_resource .field-name-field-ila-study input{vertical-align: middle;margin-right: 15px;}
.node-hocvien-form .field-name-field-student-basic .marketing_resource .field-name-field-detail-chanel select{width: 140px;}

.node-hocvien-form .field-name-field-student-basic .field-name-field-level-of-potential label{color: #2f2f2f;font-size: 15px;font-weight: bold;text-transform: uppercase;}
.node-hocvien-form .field-name-field-student-basic .field-name-field-level-of-potential select{margin-left: 15px;width: 140px;}
/*VISA*/
.node-hocvien-form .field-name-field-student-visa .field-name-field-visa-status,
.node-hocvien-form .field-name-field-student-visa .field-name-field-visa-date-submit,
.node-hocvien-form .field-name-field-student-visa .field-name-field-visa-note{ float: left; width: 33.333%; display: block}
#field-student-visa-add-more-wrapper{position: relative}
.node-hocvien-form .field-multiple-table tbody tr td .form-submit{position: absolute;bottom: -2px;left: 135px;}
.node-hocvien-form .field-name-field-student-visa .field-name-field-visa-status .form-type-select select { width: 100%}

.node-hocvien-form .field-name-field-student-visa .field-name-field-visa-date-submit .form-wrapper legend{ line-height: 1.5; text-indent: 0}
.node-hocvien-form .field-name-field-student-visa .field-name-field-visa-date-submit .form-wrapper .fieldset-wrapper .date-padding{padding: 2px 0 0 0;}
.node-hocvien-form .field-name-field-student-visa .field-name-field-visa-date-submit .form-wrapper .fieldset-wrapper .date-padding .form-item input {width: 292px; margin: 0 -1px;font-size: 13px;padding-top: 5px; padding-bottom: 5px;}
.node-hocvien-form .field-name-field-student-visa .field-name-field-visa-date-submit .form-wrapper .fieldset-wrapper .date-padding .description{display: none}

.node-hocvien-form .field-name-field-student-visa .field-name-field-visa-note input.form-text {width: 281px;padding-top: 5px;font-size: 13px; padding-bottom: 5px;margin-left: -1px}
/* STUDY PATHWAY*/
//.field-name-field-student-pathway .pathway_group{display: table}
.field-name-field-student-pathway .pathway_group .form-wrapper{ display: table-cell; padding-right: 9px}
.field-name-field-student-pathway .pathway_group .form-wrapper:last-child{padding-right: 0}
.field-name-field-student-pathway .pathway_group .form-wrapper label{display: inline-block}
.field-name-field-student-pathway .pathway_group .form-wrapper select{padding-bottom:3px }
/*.field-name-field-student-pathway .pathway_group .form-wrapper select,
.field-name-field-student-pathway .pathway_group .form-wrapper input{ font-size: 12px; margin: 0;padding: 2px 4px;}*/
/*.field-name-field-student-pathway .pathway_group .form-wrapper input{padding: 3px 4px;}*/
.field-name-field-student-pathway .pathway_group .form-wrapper .description{display: none}
/*.field-name-field-student-pathway .pathway_group_1 .form-wrapper select{width: 120px; margin-left: 10px}*/
.field-name-field-student-pathway .pathway_group_1 .field-name-field-stpw-course-name select{ width: 200px}
.field-name-field-student-pathway .pathway_group_1 .field-name-field-st-country select{ width: 90px}
.field-name-field-student-pathway .pathway_group_1 .field-name-field-student-school select,
.field-name-field-student-pathway .pathway_group_1 .field-name-field-student-organisation select{ width: 130px}


.field-name-field-student-pathway .pathway_group_2 fieldset.form-wrapper{ display: table}
.field-name-field-student-pathway .pathway_group_2 fieldset.form-wrapper legend{position: initial; width: auto; float: left; text-indent: 0; line-height: 1.8;display: table-cell; margin-right: 5px;}
.field-name-field-student-pathway .pathway_group_2 fieldset.form-wrapper .fieldset-wrapper{ display: table-cell}
.field-name-field-student-pathway .pathway_group_2 fieldset.form-wrapper .fieldset-wrapper .date-padding{ padding: 0}

/*.field-name-field-student-pathway .pathway_group_4 .form-item label{max-width:140px}*/
.field-name-field-student-pathway .pathway_group_4 h3{position: absolute;top: 0; left: 0; margin-top: 0 ;}
.field-name-field-student-pathway .pathway_group_4{position: relative;}

.field-name-field-student-pathway .field-group-multiple-container .multiple-inline-element{ background: #fff; border: none; display: table}
.field-name-field-student-pathway .field-group-multiple-container .multiple-inline-element .multiple-element { display: table-cell; float: none}
.field-name-field-student-pathway .field-group-multiple-container .multiple-inline-element .multiple-element .form-item { width: 270px;}

.field-name-field-student-pathway .field-group-multiple-container .multiple-inline-element .form-item label,
.field-name-field-student-pathway .field-group-multiple-container .multiple-inline-element .form-item input{ display: inline-block}
.field-name-field-student-pathway .field-group-multiple-container .multiple-inline-element .form-item label {max-width: 150px}
.field-name-field-student-pathway .field-group-multiple-container .multiple-inline-element .form-item input{width: 100px}

.field-name-field-student-pathway .field-group-multiple-container .multiple-inline-element .multiple-field-com-received-usa .form-item,
.field-name-field-student-pathway .field-group-multiple-container .multiple-inline-element .multiple-field-com-received-date .form-item{width: 240px}
.field-name-field-student-pathway .field-group-multiple-container .multiple-inline-element .multiple-field-com-received-usa .form-item label,
.field-name-field-student-pathway .field-group-multiple-container .multiple-inline-element .multiple-field-com-received-date .form-item label{max-width: 110px}
#fgm_field_collection_item_field_student_pathway_form_group_received-add-more-wrapper{ position: relative}
#fgm_field_collection_item_field_student_pathway_form_group_received-add-more-wrapper .field-group-multiple-add-more-submit{position: absolute; bottom: 16px; right: 0}

.field-name-field-student-pathway .field-name-field-com-pending .form-item{ display: table}
.field-name-field-student-pathway .field-name-field-com-pending .form-item label,
.field-name-field-student-pathway .field-name-field-com-pending .form-item input{ display: table-cell; }

/*CONTRACT
.field-name-field-student-contract tbody tr {background: #fff}
.field-name-field-student-contract tbody .field-multiple-drag{display: none}
.field-name-field-student-contract .form-wrapper,
.field-name-field-student-contract .field-multiple-table .party_b_info .b_groupt_2{margin: 10px 0}
.field-name-field-student-contract .field-multiple-table .contract-header{ margin-top: 25px ; margin-bottom: 25px}
.field-name-field-student-contract .field-multiple-table .contract-header,
.field-name-field-student-contract .field-multiple-table .contract-header .field-type-text .form-item,
.field-name-field-student-contract .field-multiple-table .contract-header .form-wrapper .fieldset-wrapper,
.field-name-field-student-contract .field-multiple-table .contract-header .form-wrapper fieldset.form-wrapper{ display: table}
.field-name-field-student-contract .field-multiple-table .contract-header .form-wrapper,
.field-name-field-student-contract .field-multiple-table .contract-header .field-type-text .form-item input,
.field-name-field-student-contract .field-multiple-table .contract-header .field-type-text .form-item label,
.field-name-field-student-contract .field-multiple-table .contract-header .form-wrapper legend,
.field-name-field-student-contract .field-multiple-table .contract-header .form-wrapper .fieldset-wrapper{display: table-cell;padding-right:15px}

.field-name-field-student-contract .field-multiple-table .contract-header .field-type-text .form-item input{width: 120px; margin: 0}
.field-name-field-student-contract .field-multiple-table .contract-header .form-wrapper legend{position: initial; width: auto; float: left; text-indent: 0;display: table-cell; }

.field-name-field-student-contract .field-multiple-table .contract-header .field-type-datestamp fieldset .fieldset-wrapper{padding-right:0}
.field-name-field-student-contract .field-multiple-table .contract-header .form-wrapper .date-padding{ padding: 0}
.field-name-field-student-contract .field-multiple-table .contract-header .field-type-datestamp{ vertical-align: top}
.field-name-field-student-contract .field-multiple-table .contract-header .field-type-datestamp .description{display: none}
.field-name-field-student-contract .field-multiple-table .contract-header .form-wrapper .form-item input{margin: 0}

.field-name-field-student-contract .field-multiple-table .party_b_info{margin-left: 75px;}
.field-name-field-student-contract .field-multiple-table .party_b_info h3{margin-left: -75px; margin-top: 0}
.field-name-field-student-contract .field-multiple-table .party_b_info .form-item input,
.field-name-field-student-contract .field-multiple-table .party_b_info .form-item label,
.field-name-field-student-contract .field-multiple-table .party_b_info .b_groupt .form-wrapper{display: table-cell;}
.field-name-field-student-contract .field-multiple-table .party_b_info .b_groupt,
.field-name-field-student-contract .field-multiple-table .party_b_info .form-item{display: table}
.field-name-field-student-contract .field-multiple-table .party_b_info .form-item input{ margin-right: 15px}
.field-name-field-student-contract .field-multiple-table .party_b_info .form-item label{width:115px}
.field-name-field-student-contract .field-multiple-table .party_b_info .b_groupt_2 .form-item input{width: 250px; margin-right: 15px}
.field-name-field-student-contract .field-multiple-table .party_b_info .field-name-field-issued-date .form-item label,
.field-name-field-student-contract .field-multiple-table .party_b_info .field-name-field-email .form-item label{text-align: center}

.field-name-field-student-contract .field-multiple-table .group-student-info{margin-left: 75px;}
.field-name-field-student-contract .field-multiple-table .group-student-info h3{margin-left: -75px; margin-top: 20px;}
.field-name-field-student-contract .field-multiple-table .group-student-info .form-item{display: table}
.field-name-field-student-contract .field-multiple-table .group-student-info .form-item input,
.field-name-field-student-contract .field-multiple-table .group-student-info .form-item label{display: table-cell;}
.field-name-field-student-contract .field-multiple-table .group-student-info .form-item input{width: 300px; margin-right: 15px}
.field-name-field-student-contract .field-multiple-table .group-student-info .form-item label{width: 90px}
.field-name-field-student-contract .field-multiple-table .group-student-info .group-student-info-g2 .form-item label{width: 200px}

.field-name-field-student-contract .field-multiple-table .group-student-info .form-wrapper legend,
.field-name-field-student-contract .field-multiple-table .group-student-info .form-wrapper .fieldset-wrapper{display: table-cell;margin-right:0}
.field-name-field-student-contract .group-student-info .form-wrapper legend{position: initial; width: auto; float: left; text-indent: 0;display: table-cell; margin-right: 5px;}
.field-name-field-student-contract .group-student-info .field-type-datestamp .description,
.field-name-field-student-contract .group-student-info .field-type-datestamp .form-item label{display: none}
.field-name-field-student-contract .group-student-info .form-wrapper legend{width: 90px}
.field-name-field-student-contract .group-student-info .form-wrapper .date-padding{ padding: 0}
.field-name-field-student-contract .group-student-info .field-type-datestamp{ vertical-align: top;}
.field-name-field-student-contract .group-student-info .field-type-datestamp fieldset{top:0}

.field-name-field-student-contract .group-student-info .field-name-field-relationship-with-party-b select{width: 310px;}
.field-name-field-student-contract .group-student-info .group-student-info-g2 .field-name-field-intake legend{width: 200px}


.field-name-field-student-contract .field-multiple-table .group-contract-info{margin-left: 75px;padding-bottom: 20px}
.field-name-field-student-contract .field-multiple-table .group-contract-info h3{margin-left: -75px; margin-top: 20px;}
.field-name-field-student-contract .field-multiple-table .group-contract-info .form-item{display: table}
.field-name-field-student-contract .field-multiple-table .group-contract-info .form-item input,
.field-name-field-student-contract .field-multiple-table .group-contract-info .form-item label{display: table-cell;}
.field-name-field-student-contract .field-multiple-table .group-contract-info .form-item input{width: 300px; margin-right: 15px}
.field-name-field-student-contract .field-multiple-table .group-contract-info .group-student-info-g2 .form-item label{width: 200px}

.field-name-field-student-contract .field-multiple-table .group-contract-info .group-contract-info-1,
.field-name-field-student-contract .field-multiple-table .group-contract-info .group-contract-info-2{display: table ;position: relative; margin: 10px 0}
.field-name-field-student-contract .field-multiple-table .group-contract-info .group-contract-info-2 {margin-top: 10px; margin-bottom: 40px}
.field-name-field-student-contract .field-multiple-table .group-contract-info .group-contract-info-1 .field-type-list-text,
.field-name-field-student-contract .field-multiple-table .group-contract-info .group-contract-info-2 .field-type-text{display: table-cell}
.field-name-field-student-contract .field-multiple-table .group-contract-info .group-contract-info-1 .form-item label{width:150px; text-align: center}
.field-name-field-student-contract .field-multiple-table .group-contract-info .group-contract-info-2 .form-item label{width: 100px; text-align: center}
.field-name-field-student-contract .field-multiple-table .group-contract-info .group-contract-info-1 select{width: 200px;}
.field-name-field-student-contract .field-multiple-table .group-contract-info .group-contract-info-2 input{width: 100px;margin-left: 10px; margin-right: 10px;}
.field-name-field-student-contract .field-multiple-table .group-contract-info .group-contract-info-2 .field-name-field-cancelation-date{position: absolute;bottom: -55px; right: 0;}
/*
.field-name-field-student-contract input,
.field-name-field-student-contract label{ font-size: 13px}
*/

.messages.error {display:none; }

/* Add  field to view */
.filterable-option .form-item {display: none}
.tinhtoan .filterable-option .form-item {display: block;}
#edit-dynamic-field-wrapper .tabledrag-toggle-weight-wrapper {display: none;}
#views-dynamic-fields-filters-table-sort .description {display: none;}
.page-quanly-student .tabs.secondary {display: none !important;}
.page-quanly-student.page-quanly-student- .tabs.secondary {display: block !important;}
#edit-field-student-basic-und-0-field-detail-chanel label {display: none;}
#edit-field-student-basic-und-0-field-detail-chanel-und {display: none;}
#field-student-pathway-add-more-wrapper .description {display: none;}
.multiple-field-com-received-date fieldset {border: none;}
.date-padding label {display: none;}