.page-quanly-setting{

}


// setting contract
.page-quanly-setting-contract{
  .view-content{
    margin: 0;
    .views-field-edit-node{
      text-align: center;
    }
  }
  .btn-orange{
    margin-right: 0;
  }
}