.item-list{
  .pager{
    li{
      div{
        display: inline-block;
        margin-left: 5px;
        vertical-align: middle;
      }
    }
  }
}
.page-quanly-student, .page-quanly-setting-contract, .page-quanly-reports{

  // student list
  .view-content{
    margin: 0 15px;
    .views-table{
      border:1px solid $md-gray;

      thead{
        tr{
          th,td{
            background-color: $light-green;
            font-size: 17px;
            border-left:1px solid $md-gray;
            padding: 0 10px 1px;
            &:first-child{
              border-left: none;
            }
          }
        }
      }
      tbody{
        tr, tr.odd, tr.even{
          border:none;
          background:none;
          td{
            border-top:1px solid $md-gray;
            border-left:1px solid $md-gray;
            padding: 4px 10px 2px;
            &:first-child{
              border-left: none;
            }
          }
        }
      }
    }
  }

  .views-exposed-form{
    position: relative;
    .views-exposed-widgets{
      margin-bottom: 9px;
      .views-exposed-widget.views-widget-filter-title{
        float: none;
        padding: 0;
      }
      label{
        float: left;
        font-size: 17px;
        text-transform: uppercase;
        padding-top: 2px;
      }
      .views-widget{
        float: right;
        .form-item.form-type-textfield.form-item-title{
          background-color: $light-gray;
          @include box-shadow(0 1px 1px rgba(0,0,0,0.28) inset);
          width: 227px;
          padding-right: 46px;
          height: 29px;
          input{
            border:none;
            background: transparent;
            padding: 0 0 0 15px;
            height: 100%;
            font-size: 12px;
            color: $thin-gray;
          }
        }
      }
      .views-submit-button{
        position: absolute;
        top:-2px;
        right: 0;
        padding: 0;
        .load, .ajax-progress{
          display: none !important;
        }
        input{
          margin: 0;
          background-color: #eaa921;
          border:none;
          cursor: pointer;
          height: 29px;
          width: 42px;
          background-image: url("../images/icon/btn-search.png");
          background-position: center;
          background-repeat: no-repeat;
          font-size: 0;
          min-width:42px;
          @include border-radius(0);
        }
      }
    }
  }

  .btn-orange{
    float: right;
    margin-right: 15px;
    margin-bottom: 35px;
  }



}

//personal page
.page-quanly-student-basic, .page-node-add-hocvien{
  h1.title{
    background-color: #838484;
    border-bottom: 3px solid #fcbc18;
    margin: -7px -20px 18px !important;
    padding: 0 20px;
    color: white;
    font-size: 18px;
    font-family: "Roboto Condensed";
    height: 50px;
    line-height: 47px;
  }
  fieldset{
    border: none;
    padding: 0;
    &#edit-field-student-basic-und-0>legend{
      display: none;
    }
    .no_image{
      float: left;
      width: 170px;
      margin-left: 15px;
    }
  }
  .node-hocvien-form{
    .field-name-field-student-basic{
      .form-managed-file>.image-widget-data:first-child{
        background-image: url("../images/bgr/add-file.png");
        background-repeat: no-repeat;
        input[type="file"]{
          font-size: 0;
          width: 170px;
          height: 170px;
          background-color: #979696;
          background-image: url("../images/bgr/add-file.png");
          background-repeat: no-repeat;
          opacity: 0;
          margin-bottom: 15px;
        }
      }
      .form-item{
        .description{
          font-size: 12px;
          font-style: italic;
          padding-top: 10px;
          line-height: normal;
        }
      }

      .personal_information{
        h3{
          text-transform: uppercase;
          font-weight: bold;
          font-size: 15px;
          margin-bottom: 7px;
          margin-top: 0;
        }
        .form-item{
          border:1px solid #d5d3d3;
          margin: 0;
          width: 542px;
          border-bottom: none;
          @include clearfix();
          display: block;
          .form-item{
            border: none;
            width: auto;
          }
          label{
            width: 192px;
            background-color: #838484;
            color: $white;
            font-size: 15px;
            padding: 0 0 0 40px;
            border-right:1px solid #d5d3d3;
            float: left;
            display: block;
            height: 29px;
            line-height: 29px;
          }
          input{
            border: none;
            width: 348px !important;
            float: left;
            display: block;
            margin: 0;
            height: 29px;
            clear:none;
            @include box-shadow(none);
            background-color: transparent;
          }
        }
        #edit-field-student-basic-und-0-field-student-phone{
          .form-item{
            border-bottom: 1px solid #d5d3d3;
          }
        }

        .field-type-datestamp{
          fieldset{
            padding: 0;
            margin: 0;
            legend{
              display: none;
            }
          }
        }
      }
      fieldset{
        legend{
          color: $color-text;
          font-size: 15px;
          font-weight: bold;
          text-transform: uppercase;
          margin-bottom: 5px;
        }
      }


      // education
      .education_background{
        .form-item, .form-actions{
          margin: 0;
        }
        .fieldset-wrapper label{
          background-color: #838484;
          color:$white;
          font-weight: bold;
          font-size: 15px;
          height: 25px;
          line-height: 25px;
        }
        .field-name-field-point{
          label,input{
            border-right:1px solid #ccc;
          }
        }
        .fieldset-wrapper{
          input, & select{
            height: 25px;
            font-size: 13px;
            font-family: "Roboto Condensed";
            color: $color-text;
          }
        }
      }
    }
  }
}



// menu page quan ly
.menu_student, .menu_seting, .tabs.primary{
  margin: -7px -20px 18px;
  padding: 0 20px 0;
  background-color: $md-gray;
  border-bottom: 3px solid $md-yellow;
  li{
    list-style: none;
    margin: 0;
    padding: 9px 0 11px;
    display: inline-block;
    margin-right: 26px;
    position: relative;
    @include transition();
    a{
      color: $white;
      font-size: 18px;
      float: none;
      background: none;
    }
    &.active, &:hover{
      a{
        color: $md-yellow;
        background: none;
        &.active{
          background: none;
        }
      }
      &::after{
        content: "";
        display: block;
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 0;
        height: 0;
        border-left:6px solid transparent;
        border-right:6px solid transparent;
        border-bottom:12px solid $md-yellow;
        margin-left: -3px;
      }
    }
  }
}


// contract
.page-quanly-student-contract{
  .tabledrag-toggle-weight-wrapper{
    display: none;
  }
  .sticky-header{
    display: none;
  }
  .sticky-table{
    position: relative !important;
    th.field-label{
      border:none;
      label{
        font-size: 17px;
        border-bottom: 2px solid $md-yellow;
        text-transform: uppercase;
        display: inline-block;
        line-height: normal;
        margin-bottom: 3px;
      }
    }
    tbody{
      tr.even, tr.odd{
        background-color: transparent;
      }
      tr:first-child{
        .required-fields.contract-header{
          margin-top: 0;
        }
      }
      h3{
        margin-top:0;
        font-size: 15px;
        font-weight: normal;
        margin-bottom: 9px;
      }
      label, legend{
        text-transform: uppercase;
        font-size: 15px;
        float: left;
        margin-top: 4px;
      }
      input[type="text"], input[type="email"]{
        background-color: $light-gray;
        @include box-shadow(0 1px 1px rgba(0,0,0,0.28) inset);
        border:none;
        height: 25px;
        width: 200px !important;
        margin-bottom: 12px;
      }
      select{
        margin-bottom: 12px;
      }
      .field-multiple-drag{
        width: 15px;
      }
      .required-fields.contract-header{
        @include clearfix();
        margin-top: 20px;
        label{
          float: left;
          margin-top: 4px;
        }
        input{
          float: right;
        }
        .field-name-field-study-program{
          float: left;
          width: 329px;
          margin-right: 5px;
        }
        .field-name-field-contract-no{
          width: 290px;
          margin-right: 5px;
          float: left;
        }
        .field-name-field-date-of-signing{
          width: 312px;
          float: left;
          span{
            text-transform: uppercase;
            font-size: 15px;
          }
          label, .description{
            display: none;
          }
          legend{
            display: inline-block;
            float: left;
            margin-top: 4px;
          }
          .fieldset-wrapper{
            float: right;
            div{
              margin: 0;
              padding: 0;
            }
          }
        }
      }

      .required-fields.party_b_info{
        .field-name-field-signer-name, .field-name-field-adress{
          label{
            float: left;
            margin-top: 4px;
            width: 130px;
            padding-left: 22px;
          }
        }
        .field-name-field-adress{
          input{
            width: 496px;
          }
        }
        .required-fields.b_groupt{
          &.b_groupt_1, &.b_groupt_2{
            @include clearfix();
            .field-name-field-id, .field-name-field-phone{
              width: 330px;
            }
          }
          .form-wrapper{
            float: left;
          }
          .field-name-field-id, .field-name-field-phone{
            margin-right: 8px;
            label{
              float: left;
              margin-top: 4px;
              width: 130px;
              padding-left: 22px;
            }
          }
          .field-name-field-issued-date{
            legend{
              display: inline-block;
              float: left;
              margin-top: 4px;
              width: 88px;
              font-size: 15px;
              text-transform: uppercase;
            }
            .fieldset-wrapper{
              float: right;
              div{
                margin: 0;
                padding: 0;
              }
            }
            .description{
              display: none;
            }
          }
          .field-name-field-phone{
            clear: left;
          }
          .field-name-field-email{
            label{
              float: left;
              margin-top: 4px;
              width: 88px;
              font-size: 15px;
            }
          }

        }
        .field-name-field-authorized-by{
          label{
            float: left;
            margin-top: 4px;
            width: 130px;
            padding-left: 22px;
          }
        }
      }

      .required-fields.group-student-info, .field-name-field-student-birth{
        label, legend{
          float: left;
          margin-top: 4px;
          width: 130px;
          padding-left: 22px;
        }
        .description{
          display: none;
        }
        .fieldset-wrapper{
          float: left;
          div{
            margin: 0;
            padding: 0;
          }
        }
      }
      .field-name-field-relationship-with-party-b, .field-name-field-study-program-info, .field-type-datestamp.field-name-field-intake{
        label, legend{
          float: left;
          margin-top: 4px;
          width: 206px !important;
          padding-left: 22px;
        }
        select{
          width: 200px;
        }
      }

      .required-fields.group-contract-info{
        padding-left: 15px;
        h3{
          margin-left: -15px;
        }
        .fieldset-wrapper{
          float: left;
          div{
            margin: 0;
            padding: 0;
          }
          .description{
            display: none;
          }
        }
        .field-name-field-create-date{
         legend{
           margin: 4px 10px 0 0 !important;
         }
        }
        .required-fields.group-contract-info-1{
          @include clearfix();
          .field-name-field-counsellor-name{
            width: 320px;
          }
          .form-wrapper{
            float: left;
          }
          label{
            width: 205px;
          }
          select{
            width: 114px;
          }
          .field-name-field-supporter-name{
            margin-left: 70px;
            label{
              width: auto;
              margin-right: 10px;
            }
          }
        }
        .required-fields.group-contract-info-2{
          .form-wrapper{
            display: inline-block;
            margin-right: 10px;
            vertical-align: top;
            label{
              width: auto;
              margin-right: 10px;
            }
            legend{
              margin-top: 4px;
              margin-right: 10px;
            }
            .fieldset-wrapper{
              float: left;
              div{
                margin: 0;
                padding: 0;
                .description{
                  display: none;
                }
              }
            }
          }
        }
      }

      #contract_change{
        width:305px;
        label{
          margin-right: 10px;
        }
        &+.load{
          padding-top: 4px;
          display: block;
        }
      }
      .action_remove{
        margin-left: -22px;
        .btn-orange{
          float: none;
          margin-right: 12px;
          margin-bottom: 35px;
        }
        input[type="button"], input[type="submit"]{
          position: static !important;
          margin-right: 12px;
          margin-bottom: 35px;
        }
      }
      .form-submit{
        position: static !important;
        margin-right: 12px;
        margin-bottom: 35px;
      }
      .field-name-field-select-list-contract{
        label{
          margin-right: 10px;
        }
      }
    }
  }
  .btn-footer{
    padding-left: 15px;
  }
  #contract_change{
    float: left;
    margin-right: 10px;
  }
  .action_remove{
    clear: both;
  }
}
.btn-footer{
  margin-top: 15px;
  input{
    min-width: 125px;
    margin-right: 15px;
  }
}

// path way
.page-quanly-student-pathway{
  .tabledrag-toggle-weight-wrapper, .field-multiple-drag, .sticky-header{
    display: none;
  }

  .sticky-table{
    th{
      border-bottom: none;
      label{
        display: inline-block;
        border-bottom: 2px solid $md-yellow;
        text-transform: uppercase;
        font-size: 17px;
        margin-bottom: 12px;
      }
    }
    tr.even, tr.odd{
      background-color: transparent;
    }
    tbody tr:first-child{
      td{
        padding-top: 0;
      }
    }
    tbody tr td{
      padding-left: 15px;
      padding-bottom: 15px;
      padding-top: 20px;
      .form-submit{
        position: static !important;
      }
      label, legend, .fieldset-wrapper{
//        font-size: 17px;
        float: left;
        div{
          margin: 0;
          padding: 0;
          width: 100%;
          float: none;
        }
      }
      label, legend{
        margin-right: 7px;
        margin-top: 2px;
      }
      h3{
        position: static !important;
        font-size: 14px;
        font-weight: bold;
        margin-top:0;
        margin-bottom: 15px;
      }
    }
  }
  .field-name-field-student-pathway{
    input[type="text"], select{
      margin-bottom: 16px;
      float: left;
    }
    input[type="text"], input[type="email"], select{
      background-color: $light-gray;
      @include box-shadow(0 1px 1px rgba(0,0,0,0.28) inset);
      border:none !important;
      height: 25px;
    }
    .pathway_group.pathway_group_1{
      display: table;
      width: 100%;
      select{
        width: 145px;
      }
      .field-name-field-stpw-course-name{
        select{
          width: 205px;
        }
      }
    }
    .pathway_group.pathway_group_2{
      input{
        width: 145px;
      }
      .field-name-field-intake{
        legend{
          margin-right: 44px;
        }
      }
    }
    .pathway_group.pathway_group_3{
      input{
        width: 160px;
      }
      label, legend{
        margin-right: 25px;
      }
    }
    .pathway_group_4{
      input{
        width: 160px;
      }
      legend{
        margin:2px 7px 0 0;
      }
    }
    .field-type-field-collection.field-name-field-collection-test{
      .sticky-table{
        margin-bottom: 15px;
        th{
          label{
            border-bottom: none;
            font-size: 14px;
            margin: 0;
            text-transform: inherit;
            font-weight: bold;
          }
        }
        tbody tr td{
          padding: 8px 0 15px 0;
          position: relative;
          .receved_pathway{
            width: 100% !important;
          }
          input[type="text"]{
            margin-right: 10px;
            margin-bottom: 0;
          }
          legend{
            margin: 2px 7px 0 0;
          }
          .form-submit{
            margin-bottom: 25px;
            position: absolute !important;
            top:6px;
            right: 0;
            bottom: auto;
            left: auto;
            min-width: 1px;
          }
        }
        tbody tr:first-child td{
          padding-top: 0;
          .form-submit{
            top:0
          }
        }
        &+.clearfix{
          .ajax-progress{
            display: none !important;
          }
        }
      }
    }
    .field-name-field-com-pending{
      padding-top: 15px;
      input{
        width: 160px;
      }
    }
  }
  .submit_pre{
    margin-top: 15px;
    input{
      min-width: 125px;
      float: left;
      margin: 0 20px 0 0;
    }
    .submit{
      float: left;
    }
  }
}

// visa
.page-quanly-student-visa{
  .tabledrag-toggle-weight-wrapper, .field-multiple-drag, .sticky-header{
    display: none;
  }

  .sticky-table{
    .field-name-field-visa-note{
      label{
        position: relative;
        &::after{
          content: "";
          display: block;
          height: 100%;
          position: absolute;
          top:0;
          left: 100%;
          background-color: $light-green;
          border-bottom: 1px solid $md-gray;
          margin-left: 1px;
          width: 96px;
        }
      }
    }
    th{
      border-bottom: none;
      label{
        display: inline-block;
        text-transform: uppercase;
        font-size: 17px;
        padding-bottom: 2px;
      }
    }
    tr.even, tr.odd{
      background-color: transparent;
      border:1px solid $md-gray;
    }
    tbody{
      tr:first-child{
        td{
          .form-wrapper{
            legend, label{
              display: block;
            }
            .fieldset-wrapper{
              label{
                display: none;
              }
            }
          }
        }
      }
      td{
        .form-wrapper{
          width: 30%;
          border-right: 1px solid $md-gray;
          padding: 0 10px;
          .form-wrapper{
            width: 100%;
            border: none;
            padding: 0;
          }
          div{
            display: block;
            margin: 0;
            padding: 0;
            width: 100%;
          }
          input, select{
            width: 100% !important;
//            border: none !important;
            margin: 0;
            height: 29px;
          }

          legend, label{
            display: none;
          }
        }
        .form-submit{
          float: left;
          position: static !important;
          width: 10%;
          min-width: 1px;
          @include border-radius(0);
          background: none;
          text-transform: inherit;
          color: $color-text;
          height: auto;
          font-size: 14px;
          margin-top: 5px;
          font-weight: normal;
          padding-top: 2px;
        }

      }
    }
  }
  .btn-footer{
    .ajax-progress{
      display: none !important;
    }
    input{
      margin-right: 15px !important;
    }
  }
}