.page-quanly-student{

  // student list
  .view-content{
    margin: 0 15px;
    .views-table{
      border:1px solid $md-gray;

      thead{
        tr{
          th,td{
            background-color: $light-green;
            font-size: 17px;
            border-left:1px solid $md-gray;
            padding: 0 10px 1px;
            &:first-child{
              border-left: none;
            }
          }
        }
      }
      tbody{
        tr, tr.odd, tr.even{
          border:none;
          background:none;
          td{
            border-top:1px solid $md-gray;
            border-left:1px solid $md-gray;
            padding: 4px 10px 2px;
            &:first-child{
              border-left: none;
            }
          }
        }
      }
    }
  }

  .views-exposed-form{
    position: relative;
    .views-exposed-widgets{
      margin-bottom: 9px;
      .views-exposed-widget.views-widget-filter-title{
        float: none;
        padding: 0;
      }
      label{
        float: left;
        font-size: 17px;
        text-transform: uppercase;
        padding-top: 2px;
      }
      .views-widget{
        float: right;
        .form-item.form-type-textfield.form-item-title{
          background-color: $light-gray;
          @include box-shadow(0 1px 1px rgba(0,0,0,0.28) inset);
          width: 227px;
          padding-right: 46px;
          height: 29px;
          input{
            border:none;
            background: transparent;
            padding: 0 0 0 15px;
            height: 100%;
            font-size: 12px;
            color: $thin-gray;
          }
        }
      }
      .views-submit-button{
        position: absolute;
        top:-2px;
        right: 0;
        padding: 0;
        input{
          margin: 0;
          background-color: #eaa921;
          border:none;
          cursor: pointer;
          height: 29px;
          width: 42px;
          background-image: url("../images/icon/btn-search.png");
          background-position: center;
          background-repeat: no-repeat;
          font-size: 0;
        }
      }
    }
  }

  .btn-orange{
    float: right;
    margin-right: 15px;
  }


  // menu page quan ly
  .menu_student{
    margin: -7px -20px 0;
    padding: 0 20px 0;
    background-color: $md-gray;
    border-bottom: 3px solid $md-yellow;
    li{
      list-style: none;
      margin: 0;
      padding: 9px 0 11px;
      display: inline-block;
      margin-right: 26px;
      position: relative;
      @include transition();
      a{
        color: $white;
        font-size: 18px;
      }
      &.active, &:hover{
        a{
          color: $md-yellow;
        }
        &::after{
          content: "";
          display: block;
          position: absolute;
          bottom: 0;
          left: 50%;
          width: 0;
          height: 0;
          border-left:6px solid transparent;
          border-right:6px solid transparent;
          border-bottom:12px solid $md-yellow;
          margin-left: -3px;
        }
      }
    }
  }
}