.page-quanly-student{

  // student list
  .view-content{
    margin: 0 15px;
    .views-table{
      border:1px solid $md-gray;

      thead{
        tr{
          th,td{
            background-color: $light-green;
            font-size: 17px;
            border-left:1px solid $md-gray;
            padding: 0 10px 1px;
            &:first-child{
              border-left: none;
            }
          }
        }
      }
      tbody{
        tr, tr.odd, tr.even{
          border:none;
          background:none;
          td{
            border-top:1px solid $md-gray;
            border-left:1px solid $md-gray;
            padding: 4px 10px 2px;
            &:first-child{
              border-left: none;
            }
          }
        }
      }
    }
  }

  .views-exposed-form{
    position: relative;
    .views-exposed-widgets{
      margin-bottom: 9px;
      .views-exposed-widget.views-widget-filter-title{
        float: none;
        padding: 0;
      }
      label{
        float: left;
        font-size: 17px;
        text-transform: uppercase;
        padding-top: 2px;
      }
      .views-widget{
        float: right;
        .form-item.form-type-textfield.form-item-title{
          background-color: $light-gray;
          @include box-shadow(0 1px 1px rgba(0,0,0,0.28) inset);
          width: 227px;
          padding-right: 46px;
          height: 29px;
          input{
            border:none;
            background: transparent;
            padding: 0 0 0 15px;
            height: 100%;
            font-size: 12px;
            color: $thin-gray;
          }
        }
      }
      .views-submit-button{
        position: absolute;
        top:-2px;
        right: 0;
        padding: 0;
        input{
          margin: 0;
          background-color: #eaa921;
          border:none;
          cursor: pointer;
          height: 29px;
          width: 42px;
          background-image: url("../images/icon/btn-search.png");
          background-position: center;
          background-repeat: no-repeat;
          font-size: 0;
        }
      }
    }
  }

  .btn-orange{
    float: right;
    margin-right: 15px;
  }


  // menu page quan ly
  .menu_student{
    margin: -7px -20px 0;
    padding: 0 20px 0;
    background-color: $md-gray;
    border-bottom: 3px solid $md-yellow;
    li{
      list-style: none;
      margin: 0;
      padding: 9px 0 11px;
      display: inline-block;
      margin-right: 26px;
      position: relative;
      @include transition();
      a{
        color: $white;
        font-size: 18px;
      }
      &.active, &:hover{
        a{
          color: $md-yellow;
        }
        &::after{
          content: "";
          display: block;
          position: absolute;
          bottom: 0;
          left: 50%;
          width: 0;
          height: 0;
          border-left:6px solid transparent;
          border-right:6px solid transparent;
          border-bottom:12px solid $md-yellow;
          margin-left: -3px;
        }
      }
    }
  }
}

//personal page
.page-quanly-student-basic{
  fieldset{
    border: none;
    padding: 0;
    &#edit-field-student-basic-und-0>legend{
      display: none;
    }
    .no_image{
      float: left;
      width: 170px;
      margin-left: 15px;
    }
  }
  .node-hocvien-form{
    .field-name-field-student-basic{
      .form-managed-file>.image-widget-data:first-child{
        background-image: url("../images/bgr/add-file.png");
        background-repeat: no-repeat;
        input[type="file"]{
          font-size: 0;
          width: 170px;
          height: 170px;
          background-color: #979696;
          background-image: url("../images/bgr/add-file.png");
          background-repeat: no-repeat;
          opacity: 0;
          margin-bottom: 15px;
        }
      }
      .form-item{
        .description{
          font-size: 12px;
          font-style: italic;
          padding-top: 10px;
          line-height: normal;
        }
      }

      .personal_information{
        h3{
          text-transform: uppercase;
          font-weight: bold;
          font-size: 15px;
        }
        .form-item{
          border:1px solid #d5d3d3;
          margin: 0;
          width: 542px;
          @include clearfix();
          display: block;
          .form-item{
            border: none;
            width: auto;
          }
          label{
            width: 192px;
            background-color: #838484;
            color: $white;
            font-size: 15px;
            padding: 0 0 0 40px;
            border-right:1px solid #d5d3d3;
            float: left;
            display: block;
            height: 29px;
            line-height: 29px;
          }
          input{
            border: none;
            width: 348px !important;
            float: left;
            display: block;
            margin: 0;
            height: 29px;
          }
        }

        .field-type-datestamp{
          fieldset{
            padding: 0;
            margin: 0;
            legend{
              display: none;
            }
          }
        }
      }
    }
  }
}