body{
  background: url("../images/bgr/body.jpg") repeat;
}
#main #container{
  background-color: #fff;
  padding-top:7px;
  padding-bottom: 30px;
}

.text-center{
  text-align: center;
}

.text-right{
  text-align: right;
}

.text-justify{
  text-align: justify;
}

.btn-orange, input[type="button"], input[type="submit"]{
  background-color: $md-yellow;
  height: 26px;
  font-weight: bold;
  font-size: 11px;
  line-height: 26px;
  @include border-radius(26px);
  @include transition(all ease 0.3s);
  min-width: 104px;
  padding: 0 5px;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  &:hover{
    background-color: $color-text;
    color: $white;
  }
}
input[type="button"], input[type="submit"]{
  line-height: normal;
}